@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --base: #071952;
    --base-500: #088395;
    --base-700: #37B7C3;
    --base-light: #EBF4F6;
    --domain-expansion-Limitless:#E5E4E2;
    /* summer theme  */
    --base-sec-100:#FEFFD2;  
    --base-sec-200:#FFEEA9 ;
    --base-sec-300:#FFBF78 ;
    --base-sec-700:#FF7D29;
}

body {
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: var(--base-500);
}
a:hover {
    text-decoration: underline;
}

/* header section  */
header {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: auto;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.logo-holder {
    display: flex;
    padding: 10px;
    align-items: center;
    font-weight: 600;
    color: var(--base);
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    background-color: var(--base);
    color: var(--base-light);
    height: 68px;
    width: 68px;
    margin-right: 20px;
    border-radius: 50%;
}

.logo-text {
    flex: 1;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 5px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a:hover {
    background-color: gray;
    border-radius: 10px;
    text-decoration: none; /*This removes underline the #menu*/
    color: white;
}

.mobile-toggle {
    display: none;
    color: var(--base);
    padding: 10px;
}

/* hero section  */
.container{
    max-width: 1440px;
    margin:auto;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.hero {
    display: flex;
    
}
.hero-blue{
    flex: 1;
    background-color: var(--base-700);
    border-radius: 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;

}
.hero-yellow{
    flex: 1;
    background-color: var(--base-sec-200);
    border-radius: 30px;
    padding: 0px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
.hero-yellow img{
    margin-top: -60px;
    max-width: 420px;
    margin-bottom: -10px;
}

.button{
    display: inline-block;
    padding: 10px 30px;
    background-color: var(--base);
    border-radius:10px;

}

h1{
    font-size: 44px;
    line-height: 1;
    margin-bottom: 10px;
    small{
        display: block;
        font-weight: 500;
        margin-bottom: -40px;
    }
}

.button:hover{
text-decoration: none;
background-color: var(--base-light);
}
/* style for resume and contact me button  */
.white{
    background-color: white;
    color: black;
    &:hover{
        color: var(--base-500);
    }
}

.black{
    background-color: black;
    color: white;
    &:hover{
        color: var(--base-700);
    }
}
/* call-to-action for margain set */
.call-to-action{
    margin-top: 20px;
    margin-bottom: 20px;
    a{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

/* placing social link  */
.social-links{
   
    a{
        &:hover{
            text-decoration: none;
        }
    }
}

/* logos section  */
.logos{
    background-color: var(--domain-expansion-Limitless);
    border-radius: 30px;
    padding: 30px 0;
    .marquee{
        width: 100vw;
        height: 128px;
        max-width: 100%;
        overflow: hidden;
        position: relative;
        .track{
            position: absolute;
            white-space: nowrap;
            will-change: transform;
            animation: marquee 19s linear infinite;
            display: flex;
            gap: 40px;
        }
    }
}

@keyframes marquee {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-50%);
    }
}
/* media query start */
/* Desktop screen  */
@media (max-width:1440px){
    .container{
        padding-left: 30px;
        padding-right: 30px;
    }
}
/**tablets **/
@media(max-width:1024px){
    header {
          flex-direction:column;
          align-items: center;
      }
    nav{
        width: 100%;
        display: flex;
        align-items: center;
    }  


    nav ul {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        list-style-type: none;
        padding: 0;
    }

    nav ul li {
        margin: 10px 0; /* Adjust as necessary */
    }

   }  


/* mobile  */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }
    nav {
        margin: 10px;
        width: 100%;
    }
    nav ul {
        display: none;
        flex-direction: column;
        text-align: center;
        width: 100%;
    }
    nav ul.active {
        display: flex;
    }
    .mobile-toggle {
        display: inline-block;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    /* hero section in mobile  */
    .hero {
        flex-direction:column ;
        
        
    }
    .hero-yellow{
        margin: 0px;
    }
    .hero-blue{
        margin: 0px;
    }
    
}

